footer{
    padding:50px 100px 30px 100px;
    background:#252525;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 7;
}

footer .left{
    color:white;
}

footer .right ul{
    flex-direction: row;
}

footer .right ul li{
    margin:0 0 0 30px;
}
