

@media only screen and (max-width: 1630px) {
    .firstSection h1{
        transform:rotate(-90deg);
        padding:0 10px 10px 10px;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }
}



@media only screen and (max-width: 1360px) {
    .col-1,.col-2,.col-3{
        width:25vw;
    }
}

@media only screen and (max-width: 1320px) {

    .thirdSection .left{
        width:40vw;
        margin:0 20px 0 0;
    }
    
    .thirdSection .right{
        width:40vw;
        margin:0 0 0 20px;
        justify-content: flex-end;
    }   
}

@media only screen and (max-width: 1220px) {
    .secondSection{
        flex-direction: column;
        height:unset;
        align-items: center;
        justify-content: center;
        position:relative;
        background:#aac0d8;
        padding:150px 0;
    }

    .secondSection h1{
        transform:rotate(0deg);
        padding:0 10px 10px 10px;
        margin:0 0 20px 0;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }

    .secondSection .right{
        justify-content:center;
        padding:20px 30px 0 30px;
    }
    
    .secondSection .right h4{
        text-align: left;
        margin:15px 0 5px 0;
    }

    .secondSection .right h2,.secondSection .right p{
        text-align: left;
    }
    
}

@media only screen and (max-width: 1090px) {
    
    .fourthSection{
        align-items: center;
        justify-content: center;
        height:unset;
        padding:150px 0;
    }
    
    .fourthSection .cols{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:white;
        padding:50px 50px;
        filter: drop-shadow(0 0px 10px #0000004b);
    }
    
    .col-1,.col-2,.col-3{
        justify-content: center;
        align-items: center;
        padding:0;
        width:80vw;
        height:unset;
        border:none;
    }

    .col-3{
        padding:0;
        width:80vw;
        align-items:center;
        justify-content: center;
    }

    .col-1 input,.col-2 input{
        width: 100%;
        margin:0 0 20px 0;
        padding:5px 0;
    }

    .col-3 button{
        width:100%;
        padding:10px 0;
        justify-content: center;
        align-items: center;
        background:#67aeca;;
        border:none;
        color:white;
    }
}

@media only screen and (max-width: 950px) {

    .firstSection{
        flex-direction: column;
        padding:150px 0;
        height:unset;
        align-items: center;
        justify-content: center;
        position:relative;
        flex-wrap: nowrap;
    }

    .firstSection h1{
        transform:rotate(0deg);
        padding:0 10px 10px 10px;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }

    .firstSection .cardContainer{
        height:350px;
        width:300px;
        margin:20px 20px;
        position:relative;
    }

    .thirdSection{
        padding:100px 0;
        height:unset;
    }

    .thirdSectionCol-1{
        flex-direction: column;
    }
    
    .thirdSection .left{
        width:400px;
        margin:0;
    }
    
    .thirdSection .right{
        width:400px;
        margin:0;
        justify-content: unset;
    }

}

@media only screen and (max-width: 730px) {
    header{
        padding:0 20px;
        height:70vh;
        justify-content: center;
        align-items: center;
    }

    header h1{
        text-align: center;
    }
    
    header h3{
        text-align: center;
    }

    .sideBox{
        display:none;
    }

    aside .iconMenu{
        display:none;
    }

    aside{
        width:300px;
        transform:translateX(-50px);
    }

    aside img{
        margin:0 0 0 50px;
        width:200px;
        opacity: 0;
    }
    
    aside .mainMenu{
        margin:50px 0 0 50px;
        opacity: 0;
    }

    footer{
        padding:50px 30px 30px 30px;
        background:#252525;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {

    .secondSection .right{
        padding:20px 0px 0 0px;
    }

    .fourthSection .cols{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:transparent;
        padding:50px 0px;
        filter: none;
    }

    footer .left{
        font-size:small;
    }

    footer .right ul li{
        margin:0 0 0 10px;
    }


    footer .right ul li a i{
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 500px) {

    .secondSection{
        height:unset;
        padding:150px 20px;
    }

    .secondSection .left,.secondSection .right{
        width:unset;
    }

    .secondSection .left .imageContainer{
        width:300px;
        height:400px;
        overflow: hidden;
    }

    .secondSection .left .imageContainer img{
        transform: unset;
        transition: unset;
        filter: unset;
    }

    .secondSection .left .imageContainer img:hover{
        transform: unset;
        transition: unset;
        filter: unset;
    }
}



@media only screen and (max-width: 450px) {

    nav ul li{
        margin:0 0 0 10px;
        font-size:x-small;
    }

    .thirdSection .left{
        width:300px;
        margin:0;
    }
    
    .thirdSection .right{
        width:300px;
        margin:0;
        justify-content: unset;
    }

    .thirdSection .user{
        flex-direction: column;
        align-items:center;
        margin:20px 0 0 0;
        padding:20px 10px 20px 10px;
        position:relative;
        border-bottom:2px solid #a8a8a885;
    }

    .thirdSection .user .userImage{
        margin:0;
    }

    .thirdSection .user .Info{
        text-align: center;
    }

    .thirdSection .user .attributes{
        flex-direction: column;
        align-items: center;
        position:relative;
        right:0;
    }

    .thirdSection .user .attributes .userType{
        margin:10px 5px;
    }
}