body{
    background:#f9fbff;
}




header{
    padding:0 0 0 10vw;
    height:70vh;
    justify-content: center;
    background:#67aeca;
    background:url(../images/background.jpg), linear-gradient(#327e9c,#aac0d8);
    background-position:center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    border-top:80px solid #474747;
    position:relative;
}

header h1{
    color:white;
    font-size:50px;
    filter: drop-shadow(0 0px 10px #0000004b);
}

header h3{
    color:white;
    filter: drop-shadow(0 0px 10px #0000004b);
}

.buttonContainer{
    margin:40px 0 0 0;
    flex-direction: row;
}

.buttonContainer button{
    border:2px solid white;
    background:#ffffff00;
    color:white;
    border-radius: 10px;
    padding:15px 40px;
    margin:0 10px;
}

.buttonContainer button{
    border:2px solid white;
    background:#ffffff00;
    color:white;
    transition: 0.5s;
}

.buttonContainer button:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:white;
    transition: 0.5s;
}

header .buttonContainer .getStartedBtn {
    background:#ffffff;
    color:#67aeca;
}

header .buttonContainer .getStartedBtn {
    background:#ffffff;
    color:#67aeca;
    transition: 0.5s;
}

header .buttonContainer .getStartedBtn:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:white;
    transition: 0.5s;
}

.sideBox{
    position:absolute;
    width:400px;
    height:250px;
    bottom:-100px;
    right:150px;
    background:white;
    border-radius: 10px;
    justify-content: center;
    padding:20px;
    filter: drop-shadow(0 10px 10px #4b4b4b50);
    z-index:1;
}

.sideBox h3{
    color:#327e9c;
}

.sideBox .buttonContainer button{
    border:2px solid #327e9c;
    color:#327e9c;
}

.sideBox .buttonContainer button{
    border:2px solid #327e9c;
    color:#327e9c;
    transition: 0.5s;
}


.sideBox .buttonContainer .acceptBtn{
    background:#327e9c;
    color:#ffffff;
}

.sideBox .buttonContainer .acceptBtn{
    background:#327e9c;
    color:#ffffff;
    transition:0.5s;
}

.sideBox .buttonContainer button:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:#ffffff;
    transition: 0.5s;
}

.firstSection{
    z-index:1;
    flex-direction: row;
    padding:150px 0;
    height:80vh;
    align-items: center;
    justify-content: center;
    position:relative;
    flex-wrap: wrap;
}

.firstSection h1{
    transform:rotate(-90deg);
    padding:0 10px 10px 10px;
    border-bottom:3px solid #000000;
    position:absolute;
    left:20px;
}

.firstSection .cardContainer{
    height:350px;
    width:300px;
    margin:0 20px;
    position:relative;
}

.firstSection .cardContainer .imageContainer{
    /* border:1px solid red; */
    height:300px;
    overflow: hidden;
}

.firstSection .cardContainer .imageContainer img{
    height:300px;
    width:unset;
}

.firstSection .cardContainer .imageContainer img{
    transform: scale(1);
    transition: 0.5s;
}

.firstSection .cardContainer .imageContainer:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.firstSection .cardContainer .cardInfo{
    position:absolute;
    bottom:0;
}

.date{
    font-size: smaller;
    color:#67aeca;
}

.secondSection{
    flex-direction: row;
    height:70vh;
    align-items: center;
    justify-content: center;
    position:relative;
    background:#aac0d8;
    background:url(../images/3rdBg.jpg), #aac0d8;
    background-position:center;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.secondSection h1{
    transform:rotate(-90deg);
    padding:0 10px 10px 10px;
    border-bottom:3px solid #000000;
    position:absolute;
    left:20px;
}

.secondSection .left .imageContainer{
    height:500px;
    width:400px;
    margin:0 0 10px 0;
    position:relative;
    transform: scale(1) skewY(0deg);
    filter: drop-shadow(0 10px 10px #4b4b4b50);
}

.secondSection .left .imageContainer img{
    transform: scale(1) skewY(0deg);
    transition: 0.5s;
    filter: drop-shadow(0 10px 10px #4b4b4b50);
}

.secondSection .left .imageContainer img:hover{
    transform: scale(1.05) skewY(-5deg);
    transition: 0.5s;
    filter: drop-shadow(-50px -30px 20px #1b1b1b50);
}


.secondSection .left,.secondSection .right{
    width:400px;
}

.secondSection .right{
    justify-content: flex-start;
    padding:0 30px;
}

.secondSection .right h4{
    margin:15px 0 5px 0;
    color:#327e9c;
}

.thirdSection{
    flex-direction: column;
    height:60vh;
    align-items: center;
    justify-content: center;
    position:relative;
}

.thirdSectionCol-1{
    flex-direction: row;
}

.thirdSection .left{
    width:600px;
    margin:0 20px 0 0;
}

.thirdSection .left h1{
    margin:20px 0;
}

.thirdSection .user{
    flex-direction: row;
    align-items:center;
    margin:20px 0 0 0;
    padding:20px 10px 20px 10px;
    position:relative;
    border-bottom:2px solid #a8a8a885;
}

.thirdSection .user .userImage{
    height:50px;
    width:50px;
    border-radius:50%;
    background:#67aeca;
    margin:0 10px 0 0;
}

.thirdSection .left .user .Info .date{
    font-size: smaller;
    color:#67aeca;
}



.thirdSection .user .attributes{
    flex-direction: row;
    align-items: center;
    position:absolute;
    right:10px;
}

.thirdSection .user .attributes .userType{
    padding:5px 10px;
    border-radius: 10px;
    background:#1a7e43;
    color:white;
    font-size: smaller;
}

.thirdSection .user .attributes i{
    margin:0 5px 0 10px;
}

.thirdSection .right{
    width:600px;
    margin:0 0 0 20px;
    justify-content: flex-end;
}

.thirdSection .right .user .Info .date{
    font-size: smaller;
    color:#67aeca;
}

.fourthSection{
    align-items: center;
    justify-content: center;
    height:40vh;
}

.fourthSection h1{
    margin:0 0 20px 0;
}

.fourthSection .cols{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col-1,.col-2,.col-3{
    justify-content: center;
    padding:0 100px 0 20px;
    width:400px;
    height:120px;
    border:2px solid #ebebeb;
}

.col-1 input,.col-2 input{
    padding:5px 10px;
    margin:5px 0;
    border:2px solid #67aeca;
    background:white;
}

.col-3{
    padding:0;
    width:250px;
    align-items:center;
    justify-content: center;
}

.col-3 button{
    width:200px;
    padding:10px 0;
    justify-content: center;
    align-items: center;
    background:#67aeca;
    border:none;
    color:white;
}

.col-3 button{
    background:#67aeca;
    border:none;
    color:white;
    transition: 0.5s;
}

.col-3 button:hover{
    background:#0ab0f1;
    border:none;
    color:white;
    transition: 0.5s;
}
