body{
    background:#f9fbff;
}

nav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    background:white;
    z-index:4;
    position: fixed;
    width:100%;
    filter: drop-shadow(0 10px 10px #0000002c);
    border-bottom:5px solid #327e9c;
}

#menuBtn{
    position: relative;
    margin:0 0 0 30px;
}

.close{
    opacity: 0;    
}

nav i{
    color:#327e9c;
    position: absolute;
    top:-15px;
}

nav ul{
    flex-direction: row;
    margin:0 30px 0 0;
}

nav ul li{
    margin:0 0 0 20px;
    color:#327e9c;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li{
    color:#327e9c;
    transition: 0.5s;
}

nav ul li:hover{
    color:#0ab0f1;
    transition: 0.5s;
}

nav ul li .toggle{
    margin:0 0 0 10px;
    border:3px solid #496a77;
    background:#65da78;
    border-radius: 20px;
    height:10px;
    width:20px;
    position:relative;
}

nav ul li .toggle .switch{
    background:#ffffff;
    height:10px;
    width:10px;
    border-radius: 10px;
    position: absolute;
    left:0px;
    top:0;
}

.settingsDropDown{
    position:fixed;
    background:white;
    border-bottom-left-radius: 20px;
    height:0px;
    width:0px;
    padding:85px 0 0 30px;
    right:0;
    z-index: 3;
    filter: drop-shadow(0 0 10px #00000031);
    opacity: 0;
    overflow: hidden;
}

.settingsDropDown{
    position:fixed;
    background:white;
    border-bottom-left-radius: 20px;
    height:0px;
    width:0px;
    padding:85px 0 0 30px;
    right:0;
    z-index: 3;
    filter: drop-shadow(0 0 10px #00000031);
    opacity: 0;
    overflow: hidden;
}

.settingsDropDown .dropDownList li{
    margin:0 0 10px 0;
}

.userDropDown{
    position:fixed;
    background:white;
    border-bottom-left-radius: 20px;
    height:0px;
    width:0px;
    padding:85px 0 0 30px;
    right:0;
    z-index: 3;
    filter: drop-shadow(0 0 10px #00000031);
    opacity: 0;
    overflow: hidden;
}

.userDropDown .dropDownList li{
    margin:0 0 10px 0;
}

aside{
    overflow: hidden;
    height:100vh;
    width:300px;
    position:fixed;
    left:-250px;
    width:300px;
    padding:75px 0 0 0;
    align-items: center;
    background:#ffffff;
    z-index:3;
    filter: drop-shadow(0 0 10px #00000013);
    overflow: hidden;
}

aside img{
    width:200px;
    opacity: 0;
}

aside .mainMenu{
    margin:50px 0 0 0;
    opacity: 0;
}

aside .mainMenu li{
    flex-direction: row;
    margin:0 0 20px 0;
    width:200px;
    align-items: center;
    color:#327e9c;
}

aside .mainMenu li{
    color:#327e9c;
    transition: 0.5s;
}

aside .mainMenu li:hover{
    color:#0ca9e7;
    transition: 0.5s;
}

aside .mainMenu li i{
    margin:0 10px 0 0;
}


aside .iconMenu{
    margin:50px 5px 0 0;
    padding:0;
    position:absolute;
    top:20px;
    right:10px;
    align-items: center;
}

aside .iconMenu li{
    color:#327e9c;
    margin:20px 0;
}

aside .iconMenu li i{
    padding:0;
    margin:0;
}

.discussionBox{
    height:100vh;
    width:300px;
    position:fixed;
    right:-295px;
    width:300px;
    padding:75px 0 0 0;
    /* align-items: center; */
    background:#ffffff;
    z-index:3;
    filter: drop-shadow(0 0 10px #00000057);
}

.tab{
    padding:20px 5px;
    border-radius: 10px;
    background:white;
    position:absolute;
    left:-10px;
    top:100px;
    z-index:4;
}

.discussionBox ul{
    padding:20px 20px;
    flex-direction: column;
}

.discussionBox ul li{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding:5px 0;
}

.discussionBox ul li .userImage{
    height:30px;
    width:30px;
    background:#327e9c;
    border-radius: 15px;
}

.discussionBox ul li .name{
    margin:0 10px 0 5px;
    font-size: 12px;
}

.discussionBox ul li .message{
    margin:0 10px 0 5px;
    font-size: 12px;
}

.messenger{
    /* padding:0 20px 0 0; */
    flex-direction: row;
    position: absolute;
    bottom:90px;
    width:100%;
    padding:10px 0 5px 0;
    align-self: center;
}

.messenger input{
    width:100%;
    margin:0 10px;
    padding:5px;
    border:2px solid #0ca9e7;
}

.messenger button{
    justify-content: center;
    align-items: center;
    width:50px;
    border:2px solid #0ca9e7;;
    background: #0ca9e7;
    color:white;
}

header{
    padding:0 0 0 10vw;
    height:70vh;
    justify-content: center;
    background:#67aeca;
    background:url(../images/background.jpg), linear-gradient(#327e9c,#aac0d8);
    background-position:center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    border-top:80px solid #327e9c;
    position:relative;
}

header h1{
    color:white;
    font-size:50px;
    filter: drop-shadow(0 0px 10px #0000004b);
}

header h3{
    color:white;
    filter: drop-shadow(0 0px 10px #0000004b);
}

.buttonContainer{
    margin:40px 0 0 0;
    flex-direction: row;
}

.buttonContainer button{
    border:2px solid white;
    background:#ffffff00;
    color:white;
    border-radius: 10px;
    padding:15px 40px;
    margin:0 10px;
}

.buttonContainer button{
    border:2px solid white;
    background:#ffffff00;
    color:white;
    transition: 0.5s;
}

.buttonContainer button:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:white;
    transition: 0.5s;
}

header .buttonContainer .getStartedBtn {
    background:#ffffff;
    color:#67aeca;
}

header .buttonContainer .getStartedBtn {
    background:#ffffff;
    color:#67aeca;
    transition: 0.5s;
}

header .buttonContainer .getStartedBtn:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:white;
    transition: 0.5s;
}

.sideBox{
    position:absolute;
    width:400px;
    height:250px;
    bottom:-100px;
    right:150px;
    background:white;
    border-radius: 10px;
    justify-content: center;
    padding:20px;
    filter: drop-shadow(0 10px 10px #4b4b4b50);
    z-index:2;
}

.sideBox h3{
    color:#327e9c;
}

.sideBox .buttonContainer button{
    border:2px solid #327e9c;
    color:#327e9c;
}

.sideBox .buttonContainer button{
    border:2px solid #327e9c;
    color:#327e9c;
    transition: 0.5s;
}


.sideBox .buttonContainer .acceptBtn{
    background:#327e9c;
    color:color:#ffffff;
}

.sideBox .buttonContainer .acceptBtn{
    background:#327e9c;
    color:#ffffff;
    transition:0.5s;
}

.sideBox .buttonContainer button:hover{
    border:2px solid #0ab0f1;
    background:#0ab0f1;
    color:#ffffff;
    transition: 0.5s;
}

.firstSection{
    z-index:1;
    flex-direction: row;
    padding:150px 0;
    height:80vh;
    align-items: center;
    justify-content: center;
    position:relative;
    flex-wrap: wrap;
}

.firstSection h1{
    transform:rotate(-90deg);
    padding:0 10px 10px 10px;
    border-bottom:3px solid #000000;
    position:absolute;
    left:20px;
}

.firstSection .cardContainer{
    height:350px;
    width:300px;
    margin:0 20px;
    position:relative;
}

.firstSection .cardContainer .imageContainer{
    /* border:1px solid red; */
    height:300px;
    overflow: hidden;
}

.firstSection .cardContainer .imageContainer img{
    height:300px;
    width:unset;
}

.firstSection .cardContainer .imageContainer img{
    transform: scale(1);
    transition: 0.5s;
}

.firstSection .cardContainer .imageContainer:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.firstSection .cardContainer .cardInfo{
    position:absolute;
    bottom:0;
}

.date{
    font-size: smaller;
    color:#67aeca;
}

.secondSection{
    flex-direction: row;
    height:70vh;
    align-items: center;
    justify-content: center;
    position:relative;
    background:#aac0d8;
    background:url(../images/3rdBg.jpg), #aac0d8;
    background-position:center;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.secondSection h1{
    transform:rotate(-90deg);
    padding:0 10px 10px 10px;
    border-bottom:3px solid #000000;
    position:absolute;
    left:20px;
}

.secondSection .left .imageContainer{
    height:500px;
    width:400px;
    margin:0 0 10px 0;
    position:relative;
    transform: scale(1) skewY(0deg);
    filter: drop-shadow(0 10px 10px #4b4b4b50);
}

.secondSection .left .imageContainer img{
    transform: scale(1) skewY(0deg);
    transition: 0.5s;
    filter: drop-shadow(0 10px 10px #4b4b4b50);
}

.secondSection .left .imageContainer img:hover{
    transform: scale(1.05) skewY(-5deg);
    transition: 0.5s;
    filter: drop-shadow(-50px -30px 20px #1b1b1b50);
}


.secondSection .left,.secondSection .right{
    width:400px;
}

.secondSection .right{
    justify-content: flex-start;
    padding:0 30px;
}

.secondSection .right h4{
    margin:15px 0 5px 0;
    color:#327e9c;
}

.thirdSection{
    flex-direction: column;
    height:60vh;
    align-items: center;
    justify-content: center;
    position:relative;
}

.thirdSectionCol-1{
    flex-direction: row;
}

.thirdSection .left{
    width:600px;
    margin:0 20px 0 0;
}

.thirdSection .left h1{
    margin:20px 0;
}

.thirdSection .user{
    flex-direction: row;
    align-items:center;
    margin:20px 0 0 0;
    padding:20px 10px 20px 10px;
    position:relative;
    border-bottom:2px solid #a8a8a885;
}

.thirdSection .user .userImage{
    height:50px;
    width:50px;
    border-radius:50%;
    background:#67aeca;
    margin:0 10px 0 0;
}

.thirdSection .left .user .Info .date{
    font-size: smaller;
    color:#67aeca;
}



.thirdSection .user .attributes{
    flex-direction: row;
    align-items: center;
    position:absolute;
    right:10px;
}

.thirdSection .user .attributes .userType{
    padding:5px 10px;
    border-radius: 10px;
    background:#1a7e43;
    color:white;
    font-size: smaller;
}

.thirdSection .user .attributes i{
    margin:0 5px 0 10px;
}

.thirdSection .right{
    width:600px;
    margin:0 0 0 20px;
    justify-content: flex-end;
}

.thirdSection .right .user .Info .date{
    font-size: smaller;
    color:#67aeca;
}

.fourthSection{
    align-items: center;
    justify-content: center;
    height:40vh;
}

.fourthSection h1{
    margin:0 0 20px 0;
}

.fourthSection .cols{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col-1,.col-2,.col-3{
    justify-content: center;
    padding:0 100px 0 20px;
    width:400px;
    height:120px;
    border:2px solid #ebebeb;
}

.col-1 input,.col-2 input{
    padding:5px 10px;
    margin:5px 0;
    border:2px solid #67aeca;
    background:white;
}

.col-3{
    padding:0;
    width:250px;
    align-items:center;
    justify-content: center;
}

.col-3 button{
    width:200px;
    padding:10px 0;
    justify-content: center;
    align-items: center;
    background:#67aeca;
    border:none;
    color:white;
}

.col-3 button{
    background:#67aeca;
    border:none;
    color:white;
    transition: 0.5s;
}

.col-3 button:hover{
    background:#0ab0f1;
    border:none;
    color:white;
    transition: 0.5s;
}

footer{
    padding:50px 100px 30px 100px;
    background:#252525;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .left{
    color:white;
}

footer .right ul{
    flex-direction: row;
}

footer .right ul li{
    margin:0 0 0 30px;
}

@media only screen and (max-width: 1630px) {
    .firstSection h1{
        transform:rotate(-90deg);
        padding:0 10px 10px 10px;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }
}



@media only screen and (max-width: 1360px) {
    .col-1,.col-2,.col-3{
        width:25vw;
    }
}

@media only screen and (max-width: 1320px) {

    .thirdSection .left{
        width:40vw;
        margin:0 20px 0 0;
    }
    
    .thirdSection .right{
        width:40vw;
        margin:0 0 0 20px;
        justify-content: flex-end;
    }   
}

@media only screen and (max-width: 1220px) {
    .secondSection{
        flex-direction: column;
        height:unset;
        align-items: center;
        justify-content: center;
        position:relative;
        background:#aac0d8;
        padding:150px 0;
    }

    .secondSection h1{
        transform:rotate(0deg);
        padding:0 10px 10px 10px;
        margin:0 0 20px 0;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }

    .secondSection .right{
        justify-content:center;
        padding:20px 30px 0 30px;
    }
    
    .secondSection .right h4{
        text-align: left;
        margin:15px 0 5px 0;
    }

    .secondSection .right h2,.secondSection .right p{
        text-align: left;
    }
    
}

@media only screen and (max-width: 1090px) {
    
    .fourthSection{
        align-items: center;
        justify-content: center;
        height:unset;
        padding:150px 0;
    }
    
    .fourthSection .cols{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:white;
        padding:50px 50px;
        filter: drop-shadow(0 0px 10px #0000004b);
    }
    
    .col-1,.col-2,.col-3{
        justify-content: center;
        align-items: center;
        padding:0;
        width:80vw;
        height:unset;
        border:none;
    }

    .col-3{
        padding:0;
        width:80vw;
        align-items:center;
        justify-content: center;
    }

    .col-1 input,.col-2 input{
        width: 100%;
        margin:0 0 20px 0;
        padding:5px 0;
    }

    .col-3 button{
        width:100%;
        padding:10px 0;
        justify-content: center;
        align-items: center;
        background:#67aeca;;
        border:none;
        color:white;
    }
}

@media only screen and (max-width: 950px) {

    .firstSection{
        flex-direction: column;
        padding:150px 0;
        height:unset;
        align-items: center;
        justify-content: center;
        position:relative;
        flex-wrap: nowrap;
    }

    .firstSection h1{
        transform:rotate(0deg);
        padding:0 10px 10px 10px;
        border-bottom:3px solid #000000;
        position:relative;
        left:0px;
    }

    .firstSection .cardContainer{
        height:350px;
        width:300px;
        margin:20px 20px;
        position:relative;
    }

    .thirdSection{
        padding:100px 0;
        height:unset;
    }

    .thirdSectionCol-1{
        flex-direction: column;
    }
    
    .thirdSection .left{
        width:400px;
        margin:0;
    }
    
    .thirdSection .right{
        width:400px;
        margin:0;
        justify-content: unset;
    }

}

@media only screen and (max-width: 730px) {
    header{
        padding:0 20px;
        height:70vh;
        justify-content: center;
        align-items: center;
    }

    header h1{
        text-align: center;
    }
    
    header h3{
        text-align: center;
    }

    .sideBox{
        display:none;
    }

    aside .iconMenu{
        display:none;
    }

    aside{
        width:300px;
        transform:translateX(-50px);
    }

    aside img{
        margin:0 0 0 50px;
        width:200px;
        opacity: 0;
    }
    
    aside .mainMenu{
        margin:50px 0 0 50px;
        opacity: 0;
    }

    footer{
        padding:50px 30px 30px 30px;
        background:#252525;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {

    .secondSection .right{
        padding:20px 0px 0 0px;
    }

    .fourthSection .cols{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:transparent;
        padding:50px 0px;
        filter: none;
    }

    footer .left{
        font-size:small;
    }

    footer .right ul li{
        margin:0 0 0 10px;
    }


    footer .right ul li a i{
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 500px) {

    .secondSection{
        height:unset;
        padding:150px 20px;
    }

    .secondSection .left,.secondSection .right{
        width:unset;
    }

    .secondSection .left .imageContainer{
        width:300px;
        height:400px;
        overflow: hidden;
    }

    .secondSection .left .imageContainer img{
        transform: unset;
        transition: unset;
        filter: unset;
    }

    .secondSection .left .imageContainer img:hover{
        transform: unset;
        transition: unset;
        filter: unset;
    }
}



@media only screen and (max-width: 450px) {

    nav ul li{
        margin:0 0 0 10px;
        font-size:x-small;
    }

    .thirdSection .left{
        width:300px;
        margin:0;
    }
    
    .thirdSection .right{
        width:300px;
        margin:0;
        justify-content: unset;
    }

    .thirdSection .user{
        flex-direction: column;
        align-items:center;
        margin:20px 0 0 0;
        padding:20px 10px 20px 10px;
        position:relative;
        border-bottom:2px solid #a8a8a885;
    }

    .thirdSection .user .userImage{
        margin:0;
    }

    .thirdSection .user .Info{
        text-align: center;
    }

    .thirdSection .user .attributes{
        flex-direction: column;
        align-items: center;
        position:relative;
        right:0;
    }

    .thirdSection .user .attributes .userType{
        margin:10px 5px;
    }
}